ENV=dev

SECRET_KEY=dev-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_DB=spisok_del_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/spisok_del_db

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

ADMIN_SECRET_KEY=dev-admin-secret
ADMIN_ALLOWED_IPS=

BOT_TOKEN=put-your-dev-bot-token-here
SUPER_ADMIN_TG_ID=0

GRAFANA_ADMIN_PASSWORD=admin
